bin/
obj/
.vs/
node_modules/
.angular/
dist/
coverage/
temp-build/
temp-api-build/
*.log
*.user
*.suo
*.userosscache
*.sln.docstates

API/appsettings.Development.json
API/appsettings.Local.json
.env
.env.*
